<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.mizmer2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignInActivity">
            
        </activity>
        <activity android:name=".SignUpActivity">

        </activity>
        <activity android:name=".Kayit" />
        <activity android:name=".Menu" />
        <activity android:name=".DTMM1" />
        <activity android:name=".BizKimiz" />
        <activity android:name=".DTMM" />
        <activity android:name=".Profil" />
        <activity android:name=".Oneri" />
        <activity android:name=".DTMM2" />
        <activity android:name=".DTMM3" />
        <activity android:name=".DTMM4" />
        <activity android:name=".DTMM5" />
        <activity android:name=".DTMM6" />
        <activity android:name=".DTMM7" />
        <activity android:name=".DTMM8" />
        <activity android:name=".DTMM9" />
        <activity android:name=".Asama2" />
        <activity android:name=".Sonuc"></activity>
    </application>

</manifest>